.bubbles {
  /* position: fixed; */
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  top: 0;
  right: 50%;
  z-index: 0;
  /* opacity: 0.5; */
}

.bubble-animation {
  position: absolute;
  bottom: 0%;
  width: 200px;
  height: 200px;
  /* left: 50%; */

  background: rgb(235, 235, 235);
  opacity: 0.5;
  border-radius: 50%;
  animation: rise 40s infinite ease-in;
  /* overflow: hidden; */
}

.bubble-animation:nth-child(1){
  width: 50px;
  height: 50px;
  left: 30%;
  animation-duration: 14s;
}

.bubble-animation:nth-child(2){
  width:150px;
  height: 150px;
  left: 7%;
  animation-duration: 27s;
  animation-delay: 3s;
}

.bubble-animation:nth-child(3){
  width: 145px;
  height: 145px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 3s;
}

.bubble-animation:nth-child(4){
  width:75px;
  height: 75px;
  left: 20%;
  animation-duration: 27s;
  animation-delay: 3s;
}

.bubble-animation:nth-child(5){
  width:105px;
  height: 105px;
  left: 47%;
  animation-duration: 31s;
  animation-delay: 1s;
}

.bubble-animation:nth-child(6){
  width:65px;
  height: 65px;
  left: 63%;
  animation-duration: 37s;
  animation-delay: 4s;
}

.bubble-animation:nth-child(7){
  width:45px;
  height: 45px;
  left: 92%;
  animation-duration: 14s;
  animation-delay: 3s;
}

.bubble-animation:nth-child(8){
  width: 40px;
  height: 40px;
  left: 83%;
  animation-duration: 27s;
  animation-delay: 1s;
}

.bubble-animation:nth-child(9){
  width:25px;
  height: 25px;
  left: 15%;
  animation-duration: 18s;
  animation-delay: 3s;
}

.bubble-animation:nth-child(10){
  width:50px;
  height: 50px;
  left: 69%;
  animation-duration: 25s;
  animation-delay: 3s;
}

@keyframes rise {
  0%{
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100%{
    -webkit-transform: translateY(-2080px) translateX(-200px) rotate(630deg);
    transform: translateY(-2080px) translateX(-200px) rotate(630deg);
  }
}